doctype html
head
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Login
  meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport')
  include ../includes/styles
body.login
  .wrapper.wrapper-login
      h3.text-center Sign Up
      .login-form
        .form-group
          label.placeholder(for='fullname')
            b Fullname
          input#fullname.form-control(name='fullname' type='text' required='')
        .form-group
          label.placeholder(for='email')
            b Email
          input#email.form-control(name='email' type='email' required='')
        .form-group
          label.placeholder(for='passwordsignin')
            b Password
          .position-relative
            input#passwordsignin.form-control(name='passwordsignin' type='password' required='')
            .show-password
              i.icon-eye
        .form-group
          label.placeholder(for='confirmpassword')
            b Confirm Password
          .position-relative
            input#confirmpassword.form-control(name='confirmpassword' type='password' required='')
            .show-password
              i.icon-eye
        .row.form-sub.m-0
          .custom-control.custom-checkbox
            input#agree.custom-control-input(type='checkbox' name='agree')
            label.custom-control-label(for='agree') I Agree the terms and conditions.
        .row.form-action
          .col-md-6
            a#show-signin.btn.btn-danger.btn-link.w-100.fw-bold(href='#') Cancel
          .col-md-6
            a.btn.btn-primary.w-100.fw-bold(href='#') Sign Up
include ../includes/script
